@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', monospace;
    font-family: 'Fira Sans', sans-serif;

}

.display-none {
    @apply hidden;
}
.navbar-fixed {
    @apply fixed z-[9999] bg-primary bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -px 0 0 rgba(0, 0, 0, 0.2)
}
.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-black;
}
